*, ::backdrop ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

.container{
    width: auto;
    height: 625px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 2px solid black;  
}
.square{
    width: auto;
    height: auto;
    border: 1px solid black;
}
.background{
    background-color: #333;
}
.title{
    color: #2EE59D;
}
.btn{
    padding: 15px;
    margin-bottom: 20px;
    margin-right: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #fff;
    color: #000;
    transition: ease-in-out 0.07;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.btn:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.btn:active{
    transform: translateY(-2px);
}